[project]
name = "claude-code-proxy"
version = "0.1.0"
description = "Proxy server enabling Claude Code to work with OpenAI-compatible API providers"
readme = "README.md"
requires-python = ">=3.13"
authors = [
    {name = "Kenny Dizi", email = "chitrung09t2@gmail.com"}
]
dependencies = [
    "fastapi[standard]>=0.116.1",
    "uvicorn>=0.35.0",
    "httpx>=0.28.1",
    "pydantic>=2.11.7",
    "python-dotenv>=1.1.1",
    "openai>=1.99.5",
    "pydantic-settings>=2.10.1",
    "tiktoken>=0.11.0",
]

[tool.pytest.ini_options]
pythonpath = [".", "src"]
testpaths = ["tests"]

[dependency-groups]
dev = [
    "pytest-mock>=3.14.1",
    "pytest>=8.4.1",
    "pytest-asyncio>=1.1.0",
    "pytest-cov>=6.2.1",
    "pytest-mock>=3.14.1",
    "pytest-sugar>=1.0.0",
    "respx>=0.22.0",
    "ruff>=0.12.8",
    "mypy>=1.17.1",
]

[tool.ruff]
target-version = "py310"

[tool.ruff.lint.isort]
known-first-party = ["ccproxy"]

[tool.mypy]
strict = true
ignore_missing_imports = true
plugins = ['pydantic.mypy']
